body {
    background-color: #FEC60B;
}

#table td {
    padding: 8px;
}

#table img {
    width: 45px;
    height: 37px;
}

#table .green {
    border: 5px solid #008000;
}

#table .red {
    border: 5px solid #FF0000;
}

#table table {
    text-align: center;
    border-collapse: separate;
    border-spacing: 4px;
}


